.counter{
    background: white;
    border: 1px solid red;
    height: fit-content;
    width: fit-content;
}

.counter__btnAdd{
    background:green;
    width:100px;
    height:100px;
}

.counter__btnDelete{
    background:red;
    width:100px;
    height:100px;
}